<div class="contentbox">


    <div i18n="@@5211219337711110924">

       <h6 class="question"><span class="w-20" >1.</span>  What is Election Ke Bazigaar?
    </h6> 
       <p class="pl">Election ke Bazigaar is a Free game where you predict which major party will win how many seats in MP, Chhattisgarh, Rajasthan, Telangana and Mizoram Elections 2023 and win up to Rs 10,000 worth of prizes!!! Hurry!
    </p>
          
   
   
    <h6 class="question"><span class="w-20" >2.</span> Is the game free or paid?

    </h6> 
       <p class="pl">The entire game is FREE to play. 
    </p>



    <h6 class="question"><span class="w-20" >3.</span> How will I know if I have won the prize?
    </h6> 
       <p class="pl">If you have won a prize, we will contact you over phone/SMS before 15th December, 2023.
    </p>



    <h6 class="question"> <span class="w-20" >4.</span> When will the game results get declared?

    </h6> 
       <p class="pl">Check your RANK and D.SCORE on December 5th, 2023 9 pm. Remember to save/bookmark this game link. Happy Playing!

    </p>


    <h6 class="question"> <span class="w-20" >5.</span> Can I change my prediction?

    </h6> 
       <p class="pl">You can change your predictions whenever you want, as many times as you want, until 1st December, 2023.

    </p>


    <h6 class="question"><span class="w-20" >6.</span> Can I win more than one prize?

    </h6> 
       <p class="pl">Only one prize per Mobile Number is eligible. You may play with different Mobile Numbers but you can win a maximum of one prize.

    </p>


    <h6 class="question"><span class="w-20" >7.</span>  <span class="w-80">Do I need to be a resident of the state for which I am predicting? For example, if I am a resident of Karnataka, can I predict for Madhya Pradesh?</span>

    </h6> 
       <p class="pl">YES! You can predict for all the states as long as you are an Indian resident.

    </p>



    <h6 class="question"><span class="w-20">8.</span>How do I maximise my chances of winning a prize?

    </h6> 
       <p class="pl">Follow ABP news, do some research and check past election results.
    </p>



    <h6 class="question"><span class="w-20" >9.</span> How are the winners decided?
    </h6> 
       <p class="pl">The closer you are able to tell the results based upon your knowledge about the subject matter and in depth understanding about the Constituencies/States and all such other related information/facts which shall have a material bearing on the outcome, the higher your rank and the more you are likely to win a prize.

    </p>


    <h6 class="question"><span class="w-20" >10.</span>Why do I need to Login/provide my Mobile Number?
    </h6> 
       <p class="pl">For 2 reasons: 1) Because prizes can only be offered to verified users and 2) To save your predictions. Your predictions are linked with the Mobile Number that you provide. Providing your Mobile Number helps you to change your prediction any number of times.

    </p>
   
   
   
   
       </div>
    </div>
    
    
    
    
    
 