/* You can add global styles to this file, and also import other style files */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.wrapper {
  overflow-y: auto;
  width:100%;
 
}


body{
  position: relative;
  max-width:541px;
   margin: 0px auto;


}

.bg {
  background-image: url(./assets/img/Bg.svg);
  background-size: cover;
  background-position: center;
  height:100vh;
  max-width:541px;
  display: flex;
  justify-content: center;


}


.slider.slider-horizontal {
  width: 50% !important;
  // margin: 0px 14%;
  height: 30px;
  position: absolute;
  top: 3px;
  left: 27%;
}

.slider.slider-horizontal .slider-handle {
  margin-left: -19px !important;
}




input:focus {
  outline: none !important;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


.slider-handle {
  position: absolute;
  top: -6px !important;
  text-align: center;
  width: 40px !important;
  height: 30px !important;
  background-color: #337ab7;
  background-image: linear-gradient(to bottom, #F65354 0, #F65354 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff337ab7', endColorstr='#ff2e6da4', GradientType=0);

  border: 4px solid white !important;
  border-radius: 25px !important;

}



.slider-selection {
  position: absolute;
  background-image: linear-gradient(to bottom, #F65354 0, #F65354 100%) !important;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff9f9f9', endColorstr='#fff5f5f5', GradientType=0);
  background-repeat: repeat-x;
  box-shadow: inset 0 -1px 0 rgb(0 0 0 / 15%);
  box-sizing: border-box;
  border-radius: 4px;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row !important;
  flex-direction: row !important;
  min-width: 0;
  flex-wrap: wrap;
  word-wrap: break-word;
  background-color: #E3E5E5;
  background-clip: border-box;
  border: 0px solid rgba(0, 0, 0, .125);
  border-radius: 0.25rem;

}

.card::before {
  content: url('./assets/img/edges.svg');
  position: relative;
  top: -35px;
  left: 10px;
  width: 0px;

}


.sidebar {

  background-color: white;
  height: 100vh;
  position: absolute;
  top: 0;
  z-index: 999;
  transition: 3s;
}


.sidebar ul {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  display: flex;
  align-items: center;
  color: rgba(0, 0, 0, 0.87);
  transition: all 0.5s ease;
}


.sidebar ul {
  list-style: none;
  display: block;
  position: relative;

}


.sidebar ul li {
  margin: 25px 15px;

}


.sidebar ul li a {
  font-family: Roboto;
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  color: rgba(0, 0, 0, 0.87);
  text-decoration: none;

}



.sidebar ul li img {
  text-align: center;
  align-items: center;
  margin-bottom: 3px;

}



.home {
  margin-left: 16px;

}

.play {
  margin-left: 15px;
}

.termcon {
  margin-left: 12px;
}

.privacy {
  margin-left: 15px;
}

.help {
  margin-left: 22px;
}

.imghome {
  margin-left: 3px;
}

.imghome::before {
  content: "Hello";
  z-index: 999;
}

.imghelp {
  margin-left: 8px;
}


.navigation-active {
  color: #6948db !important;
  border-bottom:3px solid #6948db;
  
  
}

.active img::before {
  content: '';
  border-left: 5px solid red;
}


.img-100 {
  width: 100%;
  cursor: pointer;
}

// Side Bar
.sidebar {
  display: none;
  width: 100%;
  height: 100vh;
  background: rgba(6, 6, 6, 0.33);
  z-index: 999;

}

.sixtyfive {
  width: 65%;
  height: 100vh;
  background: white;
  z-index: 999;
}

.margin-bottom {
  margin-bottom: 85px;
}

.apexcharts-toolbar {
  position: absolute;
  z-index: 11;
  max-width: 176px;
  text-align: right;
  border-radius: 3px;
  padding: 0px 6px 2px 6px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none !important;
}


//Pop Up Design

.modal-header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: justify;
  justify-content: center;
  padding: 5px 1rem;
  border-bottom: 0px solid #dee2e6;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}


.modal-header h4 {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  text-align: center;
  text-transform: uppercase;
  margin-top: 5px;

  color: #000000
}

.modal-body p {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;

  text-align: center;

  color: #4D4D4D;
  margin-bottom:7px;
}



.modal-body {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  margin-top: 0px;
  display: flex;
  justify-content: center;
}

.modal-body {
  position: relative;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
  padding: 5px 1rem;
}


.modal-footer {

  border-top: 0px solid #dee2e6;
  padding:0 0  0.75rem 0;


}

.modal-footer {

  justify-content: center;

  border-top: 0px solid #dee2e6;

}


.modal-footer button span {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.24px;
  text-transform: uppercase;

  color: #FFFFFF;


}

.modal-footer button {
  border: none;
  border-radius: 25px;
  outline: none;
  background-color: #F35353;
  box-shadow: 0px 4px 7px rgba(243, 83, 83, 0.43);
  border-radius: 30px;
  padding: 7px 20px;
}


.modal-footer button .ok {
  padding: 0px 40px;
}


.modal-footer button .nointernate {
  padding: 0px;
}



.modal-content {
  position: relative;
  top: -29px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
  pointer-events: auto;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, .2);
  border-radius: 0px 0px 25px 25px !important;
  outline: 0;
}

.modal-backdrop.show {
  opacity: .5;
  width: 100%;
}



// Modal End
.clrgreen {
  background: #45E472 !important;
  box-shadow: 0px 4px 7px rgba(69, 228, 114, 0.43) !important;
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: #FFFFFF;

  height: 38px;

}

.clrred {
  background: #F35353;
  box-shadow: 0px 4px 7px rgba(243, 83, 83, 0.43);
  border-radius: 30px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  text-align: center;
  letter-spacing: -0.24px;
  text-transform: uppercase;
  color: #FFFFFF;

  height: 38px;

}


svg {
  overflow: hidden;
  vertical-align: unset !important;
}
@media(max-width:540px){



  .modal-content {
    position: relative;
    top: -10px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0px 0px 25px 25px !important;
    outline: 0;
  }

}
