<div class="contentbox">


   <h6 i18n>What is this game?</h6> 
    <p i18n>Predict how many seats each major party will win in the upcoming Assembly Elections 2022 in UP, Punjab, Uttarakhand and Goa. The closer your predictions are to the actual results (announced on March 10th), the more your chances of winning. It is FREE to play.</p>
    
    <h6 class="mt-4" i18n>To play, do this:</h6>
    <ul class="p-4">
    <li class="mb-2" i18n><span >Step 1 : </span> Click on NEXT to proceed.</li>
    <li class="mb-2" i18n><span >Step 2 : </span> Select which State you want to predict for.</li>
    <li class="mb-2" i18n><span >Step 3 : </span> Drag the slider bar against each party name and predict how many seats that party will win. REMEMBER: ‘Seats Remaining’ must be 0 for your entry to be valid.</li>
    <li class="mb-2" i18n><span >Step 4 : </span> If you are predicting for “Uttar Pradesh” you must predict seats for each of the 4 zones. If you have selected any other State, skip this step.</li>
    <li class="mb-2" i18n><span >Step 5 : </span> Click on PREVIEW to preview how you have predicted.</li>
    <li class="mb-2" i18n><span >Step 6 : </span> Click on SAVE MY PREDICTION to save your prediction.</li>
    <li class="mb-2" i18n><span >Step 7 : </span> If you are playing for the 1st time, you need to verify your mobile number via an OTP.</li>
</ul>
    <span class="done" i18n>And you are DONE!</span><br><br>
    
    <span class="note" i18n>NOTE : </span><span i18n>You can change your predictions whenever you want, until the cut-off date.</span><br><br>
    
    <span i18n="@@7876767332300344491">Check your rank on the Leaderboard on <span class="date">“ March 11th, 2022 “</span>. Don’t forget to check on March 11th, 2022 if you have won a prize.</span>
    





</div>